.bg-gradient {
  @apply dark:from-darkmode-theme-light dark:to-darkmode-body bg-gradient-to-b from-[#EDF6F9] from-[#EDF6F9] to-white to-[#EDF6F9];
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}