{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row text-justify">
        <div class="md:col-10 lg:col-12 text-justify">
        <!-- {{ partial "image" (dict "Src" .Params.image_logo "Alt" .Title "Class" "mx-auto mb-6" "Size" "200x200") }} -->
          <h2 class="h3 mb-6 text-center">{{ .Title }}</h2>
          <div class="content text">{{ .Content }}</div>
        {{ partial "image" (dict "Src" .Params.image_diagram "Alt" .Title "Class" "mx-auto mb-6" "Size" "900x500") }}   
        </div>
      </div>
    </div>
  </section>
{{ end }}